---
# Some cloud images only have python3 installed, Ansible needs python2 to run.
- name: Bootstrapping Python on this system
  become: true
  # Use the raw module to ensure that python2 in installed on this system.
  raw: yum --assumeyes --debuglevel 1 --errorlevel 1 install python

# With python2 installed Ansible should be able to gather facts.
- name: Gathering facts on the target host
  # Need the facts to get the ansible_distribution for OS identification.
  setup:
    filter: ansible_*

# Install the common operating system packages on the host.
- name: Installing the common operating system software packages
  become: true
  # Using raw, because the Python yum package may not be installed.
  raw: yum --assumeyes --debuglevel 1 --errorlevel 1 install {{ item }}
  with_items: "{{ packages['common'] }}"

# Install operating system specific packages on the host.
- name: Installing operating system specific software packages
  become: true
  # Using raw, because the Python yum package may not be installed.
  raw: yum --assumeyes --debuglevel 1 --errorlevel 1 install {{ item }}
  with_items: "{{ packages[ ansible_distribution ] }}"

# Create a virtual Python environment.
- name: Creating a virtual Python environment to install requirements
  command: "virtualenv {{ virtualenv_directory }}"
  when: virtualenv_directory is defined

# Change the path to the pip variable if necessary.
- name: Changing the path to pip
  set_fact:
    pip: "{{ virtualenv_directory }}/bin/pip"
  when: virtualenv_directory is defined

# Install the Python packages using pip in the shell module.
- name: Installing the Python packages
  become: "{{ virtualenv_directory is not defined }}"
  # Using shell module because the Ansible pip module may not be installed.
  shell: "{{ pip }} install --quiet {{ item }}"
  with_items: "{{ packages['python'] }}"
